<div class="container-sm d-block" style="border: 2px solid; border-color: red;">
    <button>Limpiar</button>

    <div class="d-flex" *ngFor="let item of [1,2,3,4]">
        <p>Tipo de Vehiculo</p>
        <select class="form-select" aria-label="Seleccione el tipo de vehiculo">
            <option selected>Seleccione el tipo de vehiculo</option>
            <option value="1">Carro</option>
            <option value="2">Moto</option>
            <option value="3">Camion</option>
        </select>
    </div>

    <div class="container" style="border: 2px solid; border-color:aqua;">
        <p>Marca: KIA</p>
        <p>Modelo: Sportage</p>
        <p>Año: 2023</p>
        <p>Combustible: Gasolina</p>
        <p>Valor:</p>
        <p>Impuesto:</p>
    </div>
</div>