<div style="background-color: #161853; height: 100vh;" class="d-flex align-items-center">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="" style="width: 60%;">
                <div class="card card-body m-2" style="height: 100%; background-color: #121212; color: white;">
                    <h1 class="text-center">AVALUO DE VEHICULOS</h1>
                    <!-- TIPO VEHICULO -->
                    <div class="d-inline-flex py-2">
                        <label style="width: 21%; margin-right: 20px;">Tipo de Vehiculo :</label>
                        <select style="width: 79%" class="form-select" [(ngModel)]="selectedOptionVehicle"
                            (change)="onSelectionChangeVehicle()" name="vehicleType"
                            aria-label="Seleccione el tipo de vehiculo">
                            <option value="car">Carro</option>
                            <option value="motocycle">Moto</option>
                            <option value="truck">Camion</option>

                        </select>
                    </div>

                    <!-- BRAND -->

                    <div class="d-inline-flex py-2">
                        <label style="width: 21%; margin-right: 20px;">Marca :</label>
                        <select style="width: 79%" class="form-select" [(ngModel)]="selectedOptionBrand"
                            (change)="onSelectionChangeBrand()" name="marcaType" aria-label="Seleccione marca"
                            [disabled]="disableSelectBrand">
                            <option *ngFor="let item of listVehicleBrand" [value]="item.codigo">{{item.nome}}</option>
                        </select>
                    </div>

                    <!-- MODEL -->
                    <div class="d-inline-flex py-2">
                        <label style="width: 21%; margin-right: 20px;">Modelo :</label>
                        <select style="width: 79%" class="form-select" [(ngModel)]="selectedOptionModel"
                            (change)="onSelectionChangeModel()" name="modelType" aria-label="Seleccione modelo"
                            [disabled]="disableSelectModel">
                            <option *ngFor="let item of listVehicleModel" [value]="item.codigo">{{item.nome}}</option>
                        </select>
                    </div>

                    <!-- YEAR -->
                    <div class="d-inline-flex py-2">
                        <p style="width: 21%; margin-right: 20px;">Año :</p>
                        <select style="width: 79%" class="form-select" [(ngModel)]="selectedOptionYear"
                            (change)="onSelectionChangeYear()" name="yearType" aria-label="Seleccione año"
                            [disabled]="disablSelectYear">
                            <option *ngFor="let item of listVehicleYear" [value]="item.codigo">{{item.nome}}</option>
                        </select>
                    </div>
                    <div class="text-center py-2">
                        <button (click)="clearSelection()" style="width: 54%;" class="btn btn-primary">Limpiar</button>
                    </div>
                </div>

            </div>
            <div class="" style="width: 40%;">

                <div class="card card-body m-2" style="height: 100%; background-color: #121212; color: white;">
                    <h2 class="text-center py-2">DATOS DEL VEHICULO</h2>
                    <p>Marca: {{listVehicleGeneral.Marca}}</p>
                    <p>Modelo: {{listVehicleGeneral.Modelo}}</p>
                    <p>Año: {{listVehicleGeneral.AnoModelo}}</p>
                    <p>Combustible: {{listVehicleGeneral.Combustivel}}</p>
                    <p>Valor: {{listVehicleGeneral.Valor}}</p>
                    <p>Valor: {{valueCop || ''}} COP</p>
                    <p>Impuesto: {{typeFuel}}% - {{taxesFull || ''}} COP</p>
                </div>
            </div>
        </div>


    </div>
</div>