<div class="container-sm d-block" style="border: 2px solid; border-color: red;">
    <button (click)="clearSelection()">Limpiar</button>
    <!-- TIPO VEHICULO -->
    <div class="d-flex">
        <p>Tipo de Vehiculo</p>
        <select class="form-select" [(ngModel)]="selectedOptionVehicle" (change)="onSelectionChangeVehicle()"
            name="vehicleType" aria-label="Seleccione el tipo de vehiculo">
            <option value="car">Carro</option>
            <option value="motocycle">Moto</option>
            <option value="truck">Camion</option>

        </select>
    </div>

    <!-- BRAND -->

    <div class="d-flex">
        <p>Marca</p>
        <select class="form-select" [(ngModel)]="selectedOptionBrand" (change)="onSelectionChangeBrand()"
            name="marcaType" aria-label="Seleccione marca" [disabled]="disableSelectBrand">
            <option *ngFor="let item of listVehicleBrand" [value]="item.codigo">{{item.nome}}</option>
        </select>
    </div>

    <!-- MODEL -->
    <div class="d-flex">
        <p>Modelo</p>
        <select class="form-select" [(ngModel)]="selectedOptionModel" (change)="onSelectionChangeModel()"
            name="modelType" aria-label="Seleccione modelo" [disabled]="disableSelectModel">
            <option *ngFor="let item of listVehicleModel" [value]="item.codigo">{{item.nome}}</option>
        </select>
    </div>

    <!-- YEAR -->
    <div class="d-flex">
        <p>Año</p>
        <select class="form-select" [(ngModel)]="selectedOptionYear" (change)="onSelectionChangeYear()" name="yearType"
            aria-label="Seleccione año" [disabled]="disablSelectYear">
            <option *ngFor="let item of listVehicleYear" [value]="item.codigo">{{item.nome}}</option>
        </select>
    </div>


    <div class="container" style="border: 2px solid; border-color:aqua;">
        <p>Marca: {{listVehicleGeneral.Marca}}</p>
        <p>Modelo: {{listVehicleGeneral.Modelo}}</p>
        <p>Año: {{listVehicleGeneral.AnoModelo}}</p>
        <p>Combustible: {{listVehicleGeneral.Combustivel}}</p>
        <p>Valor: {{listVehicleGeneral.Valor}}</p>
        <p>Valor COP: {{valueCop || ''}}</p>
        <p>Impuesto: {{taxesFull || ''}}</p>
    </div>

</div>